body{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: grey;
}

h1{
    color: rgb(67, 67, 230);
}

button{
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 40px;
}

button:hover{
    background-color: lightcoral;
}

img{
    width: 60vw;
}
